@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Chapeau.Models.Bestelling>

<h1>Finished Orders Today</h1>

<a asp-action="RunningOrders">
    Running Orders
</a>

<table class="table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Tafel</th>
            <th>Status</th>
            <th>Tijd</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Bestelling_ID</td>
                <td>@order.TafelNummer</td>
                <td>@order.Bestelling_Status</td>
                <td>@order.Datum_Tijd</td>
            </tr>
        }
    </tbody>
</table>
