@page
@model Chapeau.Views.Rekening.BevestigingModel
@{
    ViewData["Title"] = "Bevestiging";
}
<h2>Bevestiging</h2>
<p>@TempData["Bevestiging"]</p>
<a asp-controller="Home" asp-action="Index">Terug naar overzicht</a>